body {
  /* margin: 0; */
  font-family: Arial, sans-serif;
  width: 100vw;
}

.container {
  display: flex;
  height: 100vh;
  width: 100vw;
}
.h2 {
  color: white;
  padding-bottom: 20px;
}
.sidebar {
  width: 200px;
  background: #1e293b;
  color: white;
  padding: 20px;
  transition: 0.3s;
}

.sidebar.collapsed {
  width: 40px;
}

.sidebar a {
  display: block;
  color: white;
  text-decoration: none;
  margin: 10px 0;
  text-align: left;
}

.sidebar a:hover {
  background: #334155;
  padding: 5px;
  border-radius: 5px;
}

.sidebar.employee {
  background: #121d51;
}

.content {
  flex: 1;
  display: flex;
  flex-direction: column;
  width: 100vw;
}

.header {
  height: 60px;
  background: #ecf0f1;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
}

.main {
  padding: 20px;
}

.btn {
  padding: 8px 15px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}

.btn-logout {
  background: red;
  color: white;
}